<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:fn="http://java.sun.com/jsp/jstl/functions">
    <h:head>
        <title>List View File Head</title>

    </h:head>
    <h:body >
        <ui:composition template="layout/template.xhtml">
            <ui:define name="content">
                <h:form id="PartyListForm">
                    <p:growl id="selectionGrowl" showDetail="true" />
                    <h:panelGrid columns="3" cellpadding="5">
                        <h:outputLabel for="searchText" value="Search text:" style="font-weight:bold" />
                        <p:inputText id="searchText" value="#{partyListView.searchText}" />
                        <p:commandButton value="Search" id="ajax" update="partyListTable" actionListener="#{partyListView.searchAction}" styleClass="ui-priority-primary" />
                    </h:panelGrid>
                    <p:dataTable id="partyListTable" var="party" value="#{partyListView.partyList}" rows="20"
                                 paginator="true"
                                 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                 rowsPerPageTemplate="20,40,60,80,100"
                                 stickyHeader="true"
                                 selectionMode="single"
                                 selection="#{partyListView.selectedParty}" rowKey="#{party.partyId}">
                        <f:facet name="header">
                            List of parties
                        </f:facet>
                        <p:ajax event="rowSelect" listener="#{partyListView.onRowSelect}" update=":PartyListForm:selectionGrowl" />
                        <p:ajax event="rowUnselect" listener="#{partyListView.onRowUnselect}" update=":PartyListForm:selectionGrowl" />

                        <p:column headerText="Party Id" sortBy="#{party.partyId}" width="100">
                            <h:outputText value="#{party.partyId}" />
                        </p:column>

                        <p:column headerText="Name" sortBy="#{party.name}">
                            <h:outputText value="#{party.name}" />
                        </p:column>

                        <p:column headerText="Local Address" sortBy="#{party.locAddress}">
                            <h:outputText value="#{party.locAddress}" />
                        </p:column>

                        <p:column headerText="International Address" sortBy="#{party.intAddress}">
                            <h:outputText value="#{party.intAddress}" />
                        </p:column>
                        <f:facet name="footer">
                            In total there are #{fn:length(partyListView.partyList)} results from search
                        </f:facet>
                    </p:dataTable>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

