<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:fn="http://java.sun.com/jsp/jstl/functions"
      xmlns:c="http://java.sun.com/jsf/composite/jd">
    <h:head>
        <title>Order View File Head</title>

    </h:head>
    <h:body >
        <ui:composition template="layout/template.xhtml">
            <ui:define name="content">
                <h:form id="OrderForm">
                    <p:growl id="selectionGrowl" showDetail="true" />
                    <h:panelGrid columns="4" cellpadding="5">
                        <h:outputLabel for="OrderId" value="Order id:" style="font-weight:bold" />
                        <p:inputText id="OrderId" value="#{orderView.orderId}" />
                        <p:commandButton value="Submit" update="displayOrderId" icon="ui-icon-check" />
                        <h:outputText id="displayOrderId" value="#{orderView.orderId}" />
                    </h:panelGrid>
                    <c:partySelection shipperParty="#{orderView.order.shipperParty}"
                                      pickupParty="#{orderView.order.pickupParty}"
                                      consigneeParty="#{orderView.order.consigneeParty}"
                                      deliverParty="#{orderView.order.deliverParty}"/>

                    <c:goodsInformation order="#{orderView.order}"/>
                    <c:pickupAndDelivery pickupTime="#{orderView.order.pickupDate}" pickupInstructions="#{orderView.order.pickupInstructions}" 
                                         deliveryTime="#{orderView.order.deliverDate}" deliveryInstructions="#{orderView.order.deliverInstructions}"/>
                    <c:orderConditions cashOnDelivery="#{orderView.order.cashOnDelivery}" referenceList="#{orderView.order.referenceList}" 
                                       termsOfDelivery="#{orderView.order.termsOfDelivery}"/>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

