<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:fn="http://java.sun.com/jsp/jstl/functions">
    <h:head>
        <title>Schedule View File Head</title>

    </h:head>
    <h:body >
        <ui:composition template="layout/template.xhtml">
            <ui:define name="content">
                <h:form>
                    <p:growl id="messages" showDetail="true" />

                        <h3 style="margin-top: 0">Delivery Access Schedule</h3>
                        <p:schedule id="deliverScheduleId" value="#{partyScheduleView.deliverEventModel}" 
                                       widgetVar="deliverSchedule" timeZone="GMT"
                                       allDaySlot="false" timeFormat="hh:mm"
                                        axisFormat="HH" slotMinutes="60" resizable="false">
<!--
                            <p:ajax event="dateSelect" listener="#{partyScheduleView.onDateSelect}" update="eventDetails" oncomplete="PF('eventDialog').show();" />
                            <p:ajax event="eventSelect" listener="#{partyScheduleView.onEventSelect}" update="eventDetails" oncomplete="PF('eventDialog').show();" />
                            <p:ajax event="eventMove" listener="#{partyScheduleView.onEventMove}" update="messages" />
                            <p:ajax event="eventResize" listener="#{partyScheduleView.onEventResize}" update="messages" />
-->
                        </p:schedule>
                        
                        <h3 style="margin-top: 0">Pickup Access Schedule</h3>
                        <p:schedule id="pickupScheduleId" value="#{partyScheduleView.pickupEventModel}" 
                                        widgetVar="pickupSchedule" timeZone="GMT"
                                       allDaySlot="false" timeFormat="hh:mm"
                                        axisFormat="HH" slotMinutes="60" resizable="false">
<!--
                            <p:ajax event="dateSelect" listener="#{partyScheduleView.onDateSelect}" update="eventDetails" oncomplete="PF('eventDialog').show();" />
                            <p:ajax event="eventSelect" listener="#{partyScheduleView.onEventSelect}" update="eventDetails" oncomplete="PF('eventDialog').show();" />
                            <p:ajax event="eventMove" listener="#{partyScheduleView.onEventMove}" update="messages" />
                            <p:ajax event="eventResize" listener="#{partyScheduleView.onEventResize}" update="messages" />
-->
                        </p:schedule>

                        <h3 style="margin-top: 0">General Access Schedule</h3>
                        <p:schedule id="generalScheduleId" value="#{partyScheduleView.generalEventModel}" 
                                        widgetVar="generalSchedule" timeZone="GMT"
                                       allDaySlot="false" timeFormat="hh:mm"
                                        axisFormat="HH" slotMinutes="60" resizable="false">
<!--
                            <p:ajax event="dateSelect" listener="#{partyScheduleView.onDateSelect}" update="eventDetails" oncomplete="PF('eventDialog').show();" />
                            <p:ajax event="eventSelect" listener="#{partyScheduleView.onEventSelect}" update="eventDetails" oncomplete="PF('eventDialog').show();" />
                            <p:ajax event="eventMove" listener="#{partyScheduleView.onEventMove}" update="messages" />
                            <p:ajax event="eventResize" listener="#{partyScheduleView.onEventResize}" update="messages" />
-->
                        </p:schedule>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

