<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:composite="http://java.sun.com/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions">

    <composite:interface>
        <composite:attribute name="goods" type="com.dsv.road.customerorder.model.Goods"/>
    </composite:interface>
    <composite:implementation>
        <h:form id="dimensionForm">
        <p:panel id="dimensionPanel" header="Dimension information" style="height: 400;width:1400">
                <p:dataTable id="dimensionTable" 
                             editable="true" editMode="cell" 
                             var="dimension" value="#{cc.attrs.goods.goodsContainedList}" 
                             widgetVar="cellDimensions" 
                             style="font-size:14px;margin-bottom:20px">
                    <f:facet name="header">
                        Dimensions
                    </f:facet>
                    <p:ajax event="cellEdit" listener="#{orderView.onCellEdit}" update="@this" />
                    <p:column headerText="No packages" style="width:100px">
                        <p:cellEditor>
                            <f:facet name="output"><h:outputText value="#{dimension.numberOfPackages}" /></f:facet>
                            <f:facet name="input"><p:spinner value="#{dimension.numberOfPackages}" 
                                                             min="1"
                                                             style="width:96%"
                                                             size="10"/>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:column headerText="Type" style="width:100px">
                        <p:cellEditor>
                            <f:facet name="output"><h:outputText value="#{dimension.packageType}" /></f:facet>
                            <f:facet name="input">
                                <h:selectOneMenu value="#{dimension.packageType}" style="width:100%">
                                    <f:selectItems value="#{orderView.packageTypes}" 
                                                   var="man" itemLabel="#{man}" itemValue="#{man}" />
                                </h:selectOneMenu>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:column headerText="Description">
                        <p:cellEditor>
                            <f:facet name="output"><h:outputText value="#{dimension.description}" /></f:facet>
                            <f:facet name="input"><p:inputText value="#{dimension.description}" 
                                                               style="width:96%"
                                                               size="50"/>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:column headerText="weight" style="width:100px">
                        <p:cellEditor>
                            <f:facet name="output"><h:outputText value="#{dimension.grossWeight}" /></f:facet>
                            <f:facet name="input"><p:inputText value="#{dimension.grossWeight}" 
                                                             converter="com.dsv.road.customerorder.converters.BigDecimalConverter" 
                                                             style="width:96%"
                                                             size="10"/>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:column headerText="Length" style="width:100px">
                        <p:cellEditor>
                            <f:facet name="output"><h:outputText value="#{dimension.length}" /></f:facet>
                            <f:facet name="input"><p:inputText value="#{dimension.length}" 
                                                             converter="com.dsv.road.customerorder.converters.BigDecimalConverter" 
                                                             style="width:96%"
                                                             size="10"/>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:column headerText="Height" style="width:100px">
                        <p:cellEditor>
                            <f:facet name="output"><h:outputText value="#{dimension.height}" /></f:facet>
                            <f:facet name="input"><p:inputText value="#{dimension.height}" 
                                                             converter="com.dsv.road.customerorder.converters.BigDecimalConverter" 
                                                             style="width:96%"
                                                             size="10"/>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:column headerText="Width" style="width:100px">
                        <p:cellEditor>
                            <f:facet name="output"><h:outputText value="#{dimension.width}" /></f:facet>
                            <f:facet name="input"><p:inputText value="#{dimension.width}" 
                                                             converter="com.dsv.road.customerorder.converters.BigDecimalConverter" 
                                                             style="width:96%"
                                                             size="10"/>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:column style="width:16px">
                        <p:commandButton id="deleteDimensionButton"
                                         icon="ui-icon-trash" 
                                         action="#{orderView.deleteDimension(cc.attrs.goods, dimension)}" 
                                         process="@form" 
                                         update="dimensionTable"
                                         style="width:12px;height:12px">
                        </p:commandButton>
                    </p:column>
                    <f:facet name="footer">  
                        <p:commandButton id="addDimensionButton"  value="new" action="#{orderView.addDimension(cc.attrs.goods)}" 
                                         process="@form" 
                                         update="dimensionTable">
                        </p:commandButton>
                    </f:facet>
                </p:dataTable>
        </p:panel>
        </h:form>
        
    </composite:implementation>
</html>
