<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:composite="http://java.sun.com/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:c="http://java.sun.com/jsf/composite/jd">

    <composite:interface>
        <composite:attribute name="order" type="com.dsv.road.customerorder.model.Order"/>
    </composite:interface>
    <composite:implementation>
        <h:form id="goodsInformationForm">
            <!--
            <style>

      .ui-widget {
    font-size: 8px;
}
</style>
            
                                             rows="10"
                                 paginator="true"
                                 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                 rowsPerPageTemplate="20,40,60,80,100">

            -->
            <p:panel id="OrderInformationPanel" header="Order Information">
                <p:panelGrid columns="1" >
                    <p:dataTable id="orderLineTable" editable="true" editMode="cell" var="goodsItem" value="#{cc.attrs.order.goodsList}" 
                                 widgetVar="cellOrderLines" style="font-size:14px;margin-bottom:20px">
                        <f:facet name="header">
                            Order lines
                        </f:facet>

                        <p:ajax event="cellEdit" listener="#{orderView.onCellEdit}" />
                        <p:column headerText="No packages" style="width:100px">
                            <p:cellEditor>
                                <f:facet name="output"><h:outputText value="#{goodsItem.goodsDetails.numberOfPackages}"/></f:facet>
                                <f:facet name="input"><p:spinner value="#{goodsItem.goodsDetails.numberOfPackages}" 
                                                                 min="1" 
                                                                 style="width:96%"
                                                                 size="10"/>
                                </f:facet>
                            </p:cellEditor>
                        </p:column>
                        <p:column headerText="Type" style="width:100px">
                            <p:cellEditor>
                                <f:facet name="output"><h:outputText value="#{goodsItem.goodsDetails.packageType}" /></f:facet>
                                <f:facet name="input">
                                    <h:selectOneMenu value="#{goodsItem.goodsDetails.packageType}" style="width:100%">
                                        <f:selectItems value="#{orderView.packageTypes}" var="man" itemLabel="#{man}" itemValue="#{man}" />
                                    </h:selectOneMenu>
                                </f:facet>
                            </p:cellEditor>
                        </p:column>
                        <p:column headerText="Gross weight" style="width:100px">
                            <p:cellEditor>
                                <f:facet name="output"><h:outputText value="#{goodsItem.goodsDetails.grossWeight}" /></f:facet>
                                <f:facet name="input"><p:inputText value="#{goodsItem.goodsDetails.grossWeight}" 
                                                                 converter="com.dsv.road.customerorder.converters.BigDecimalConverter" 
                                                                 style="width:96%"
                                                                 size="10"/></f:facet>
                            </p:cellEditor>
                        </p:column>
                        <p:column headerText="Gross volume" style="width:100px">
                            <p:cellEditor>
                                <f:facet name="output"><h:outputText value="#{goodsItem.goodsDetails.grossVolume}" /></f:facet>
                                <f:facet name="input"><p:inputText value="#{goodsItem.goodsDetails.grossVolume}" 
                                                                 converter="com.dsv.road.customerorder.converters.BigDecimalConverter" 
                                                                 style="width:96%"
                                                                 size="10"/></f:facet>
                            </p:cellEditor>
                        </p:column>
                        <p:column headerText="Loading meters" style="width:100px">
                            <p:cellEditor>
                                <f:facet name="output"><h:outputText value="#{goodsItem.goodsDetails.loadingMeters}" /></f:facet>
                                <f:facet name="input"><p:inputText value="#{goodsItem.goodsDetails.loadingMeters}" 
                                                                 converter="com.dsv.road.customerorder.converters.BigDecimalConverter" 
                                                                 style="width:96%"
                                                                 size="10"/></f:facet>
                            </p:cellEditor>
                        </p:column>
                        <p:column headerText="Description">
                            <p:cellEditor>
                                <f:facet name="output"><h:outputText value="#{goodsItem.goodsDetails.description}" /></f:facet>
                                <f:facet name="input"><p:inputText value="#{goodsItem.goodsDetails.description}" 
                                                                   style="width:100%"/></f:facet>
                            </p:cellEditor>
                        </p:column>

                        <p:column headerText="Dimensions" style="width:70px">
                            <h:outputText value="#{goodsItem.goodsContainedListSize}" style="width:70px" />
                        </p:column>

                        <p:column style="width:16px">
                            <p:commandButton id="dimensionButton" icon="ui-icon-folder-open" type="button" style="width:12px;height:12px"
                                                    process="@form" 
                                                update="orderLineTable">
                                <p:overlayPanel id="dimensionPanel" for="dimensionButton" hideEffect="fade" dynamic="true" 
                                                showCloseIcon="true" style="width:1400px">
                                    <c:dimensions goods="#{goodsItem}"/>
                                </p:overlayPanel>
                            </p:commandButton>
                        </p:column>
                        <p:column style="width:16px">
                            <p:commandButton id="deleteButton" icon="ui-icon-trash" 
                                             action="#{orderView.deleteOrderLine(goodsItem)}"
                                             style="width:12px;height:12px"
                                             process="@form" 
                                             update="orderLineTable">
                            </p:commandButton>
                        </p:column>
                        <p:summaryRow>
                            <p:column colspan="1">
                                <h:outputText value="#{cc.attrs.order.goodsSummary.numberOfPackages}"/>
                            </p:column>
                            <p:column colspan="1">
                                <h:outputText value="#{cc.attrs.order.goodsSummary.packageType}" />
                            </p:column>
                            <p:column colspan="1">
                                <h:outputText value="#{cc.attrs.order.goodsSummary.grossWeight}" />
                            </p:column>
                            <p:column colspan="1">
                                <h:outputText value="#{cc.attrs.order.goodsSummary.grossVolume}" />
                            </p:column>
                            <p:column colspan="1">
                                <h:outputText value="#{cc.attrs.order.goodsSummary.loadingMeters}" />
                            </p:column>
                            <p:column colspan="1">
                                <h:outputText value="Test" />
                            </p:column>
                            <p:column colspan="1"></p:column>
                            <p:column colspan="1"></p:column>
                            <p:column colspan="1"></p:column>

                        </p:summaryRow>      
                        <f:facet name="footer">  
                            <p:commandButton id="addOrderLineButton"  value="new" action="#{orderView.addOrderLine}" 
                                                    process="@form" 
                                                    update="orderLineTable">
                            </p:commandButton>  
                        </f:facet> 
                    </p:dataTable>

                    
                </p:panelGrid>
            </p:panel>
        </h:form>
    </composite:implementation>
</html>
