<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">
    
<composite:interface>
	<composite:attribute name="consigneeParty" />
	<composite:attribute name="pickupParty" />
	<composite:attribute name="shipperParty" />
	<composite:attribute name="deliverParty" />
</composite:interface>
<composite:implementation>
	<h:panelGrid id="grid0" cellpadding="2" columns="3">
                <h:outputLabel value="Shipper party:" style="font-weight:bold" />
		<p:inputText id="shipperPartyId" value="#{cc.attrs.shipperParty.partyId}" />
		<h:outputText id="shipperPartyShortText" value="#{cc.attrs.shipperParty.shortText}" />
                
                <h:outputLabel value="Pickup party:" style="font-weight:bold" />
		<p:inputText id="pickupPartyId" value="#{cc.attrs.pickupParty.partyId}" />
		<h:outputText id="pickupPartyShortText" value="#{cc.attrs.pickupParty.shortText}" />

                <h:outputLabel value="Consignee party:" style="font-weight:bold" />
		<p:inputText id="consigneePartyId" value="#{cc.attrs.consigneeParty.partyId}" />
		<h:outputText id="consigneePartyShortText" value="#{cc.attrs.consigneeParty.shortText}" />

                <h:outputLabel value="Deliver party:" style="font-weight:bold" />
		<p:inputText id="deliverPartyId" value="#{cc.attrs.deliverParty.partyId}" />
		<h:outputText id="deliverPartyShortText" value="#{cc.attrs.deliverParty.shortText}" />
                
	</h:panelGrid>
</composite:implementation>
</html>
