<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Operational Addresses</title>
        <h:outputScript library="locales" name="vi.js"/>
    </h:head>
    <h:body>
        <p:layout fullPage="true" >
            <p:layoutUnit position="north">
                Template Header
            </p:layoutUnit>
            <p:layoutUnit position="south">
                Template Footer
            </p:layoutUnit>
            <p:layoutUnit header="Information" position="east" collapsible="true"  resizable="true" size="150">
                Template East
            </p:layoutUnit>
            <p:layoutUnit header="Menu" position="west" collapsible="true" resizable="true" size="150">
                <h:form id="menuForm">
                    <p:commandLink id="homeLink" ajax="false" action="/index" value="Home"/>
                    <br/>
                    <p:commandLink id="listView" ajax="false" action="/listView" value="List"/>
                    <br/>
                    <p:commandLink id="scheduleView" ajax="false" action="/scheduleView" value="Schedule"/>
                    <br/>
                    <p:commandLink id="orderView" ajax="false" action="/orderView" value="Order"/>
                    <br/>
                </h:form>
            </p:layoutUnit>
            <p:layoutUnit position="center">
                <ui:insert name="content"/>
            </p:layoutUnit>
        </p:layout>
    </h:body>
</html>

